/* HTML elements*/

a:visited {
    color: violet;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: yellow;
    text-decoration: underline;
}


/* Class elements*/

.boldText {
    font-weight: bold;
}


/* Toggle Darkmode */

.dark-mode {
    background-color: rgb(26, 23, 23);
    color: white;
}

.dark-mode .list-group-item {
    background-color: rgb(26, 23, 23);
    color: white;
}

.dark-mode #nAnchor {
    background-color: rgb(26, 23, 23);
    color: white;
}

.dark-mode #pageNumber {
    background-color: rgb(26, 23, 23);
    color: white;
}

.dark-mode #pAnchor {
    background-color: rgb(26, 23, 23);
    color: white;
}


/* ID elements*/

#coinList {
    color: black;
}

#coinTableBody {
    color: white;
}

#exchangeTableBody {
    color: white;
}

#globalTableBody {
    color: white;
    font-size: 0.9em;
}

